.container{
  display: flex;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  flex-direction: column;
  overflow:hidden;
}
.control{
  flex-grow: 0;
  padding: 1rem;
}
.result-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}
.canvas-container{
  height: 100%;
}
img{
 display: block;
 width: 100%;
 height: auto;
 max-height: 100%;
}
p{
  margin-top: 0;
}